body {
  background-image: url(../img/bg02.jpg);
  background-repeat: repeat-x;
}

.main {
  height: 980px;
  padding-right: 300px;
  padding-top: 300px;
  color: #fff;
  background-image: url(../img/bg01.png);
  background-position: left top;
  background-repeat: no-repeat;
}
