body {
  background-image: url(../img/bg02.jpg);
  background-position: right top;
  background-repeat: no-repeat;
}

.main {
  height: 980px;
  padding-right: 300px;
  padding-top: 300px;
  color: #fff;
  background-image: url(../img/bg01.png);
  background-position: left top;
  background-repeat: no-repeat;
}


.bar {
  position: absolute;
  width: 100px;
  height: 980px;
  background-color: #a186be;
}
